.App {
  text-align: center;
  position: fixed;
}

.App-header {
  background-color: rgb(38, 36, 59);
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: rgb(220, 215, 201);
  filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
}

.App-content{
  background-color: rgb(43, 43, 43);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);
}

.Selected-image{
  height: 50vh;
  width: auto;
}

.Image-input{
  color: rgb(220, 215, 201);
  background-color: rgb(38, 36, 59);
  filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
  padding:2em;
}

.Image-input-field{
  display: none;
}
